.variables-editor-container {
  width: 100%;
  margin-bottom: 0 !important;

  .variables-btn {
    font-size: 1.25rem;
    height: 50px;
    padding: 1px;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.6), 0 0 3px rgba(255, 255, 255, 0.5),
      0 0 0.5rem rgba(255, 255, 255, 0.3), 0 0 2rem rgba(255, 255, 255, 0.2);
  }

  .variables-editor {
    resize: none;
    height: 70%;
    width: 100%;
    color: var(--bs-body-color);
    border: none;
    padding: 0 10px;
    background: none;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .variables-editor::-webkit-scrollbar {
    border-radius: 10px;
    background-color: transparent;
    width: 13px;
    height: 13px;
  }

  .variables-editor::-webkit-scrollbar-thumb {
    background-color: #e6e8ec;
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    background-image: URL(../../assets/icons/scroll.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .variables-editor::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #ffffff;
    border-radius: 10px;
  }
}
