$basic-transition: all 0.3s linear;

.header {
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px 4%;
  box-shadow: 0 0 2px rgba(111, 66, 193, 0.9), 0 0 4px rgba(111, 66, 193, 0.4),
    0 0 1rem rgba(111, 66, 193, 0.3), 0 0 4rem rgba(111, 66, 193, 0.1);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 0;
  width: 100%;

  @media (max-width: 800px) {
    justify-content: space-around;
  }
}

.header-btns,
.nav {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.burger-menu {
  position: fixed;
  top: 0;
  right: -100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--bs-dark-rgb));
  transition: $basic-transition;
}

.burger-icon {
  position: relative;
  z-index: 300;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.burger-icon .line {
  position: relative;
  width: 100%;
  height: 3px;
  margin: 10px auto;
  background-color: var(--bs-pink);
  box-shadow: 0 0 2px rgba(234, 57, 184, 0.9), 0 0 4px rgba(234, 57, 184, 0.4),
    0 0 1rem rgba(234, 57, 184, 0.3), 0 0 4rem rgba(234, 57, 184, 0.1);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.burger-icon.open .line:nth-child(2) {
  opacity: 0;
}
.burger-icon.open .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
}

.burger-icon.open .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
}

.burger-menu.open {
  right: 0;
}

.hide {
  display: none;
}
