.response-container {
  padding: 0 10px;
  height: 100%;
  overflow: hidden;

  .response-container-content {
    height: 90%;
    overflow: auto;
  }

  .response-container-content::-webkit-scrollbar {
    border-radius: 10px;
    background-color: transparent;
    width: 13px;
    height: 13px;
  }

  .response-container-content::-webkit-scrollbar-thumb {
    background-color: #e6e8ec;
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    background-image: URL(../../assets/icons/scroll.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .response-container-content::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #ffffff;
    border-radius: 10px;
  }
}
