.request-editor {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 0 !important;

  .request-btn {
    height: 30px;
    width: 76px;
    position: absolute;
    top: 3px;
    right: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;

    .request-btn-icon {
      background: url('../../assets/icons/play-solid.svg') no-repeat center;
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }

    .request-btn-name {
      font-size: 18px;
    }
  }

  .request-editor-textarea {
    resize: none;
    height: 90%;
    width: 100%;
    background: none;
    color: var(--bs-body-color);
    border: none;
    outline: none;
    overflow: auto;
    margin-bottom: 5px;
  }

  .request-editor-textarea::-webkit-scrollbar {
    border-radius: 10px;
    background-color: transparent;
    width: 13px;
    height: 13px;
  }

  .request-editor-textarea::-webkit-scrollbar-thumb {
    background-color: #e6e8ec;
    border-radius: 10px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    background-image: URL(../../assets/icons/scroll.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  .request-editor-textarea::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #ffffff;
    border-radius: 10px;
  }
}
