.preloader-container {
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(var(--bs-dark-rgb));
}

@keyframes preloader-inner-r {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
  }
  50% {
    animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
  }
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader-inner-s {
  0%,
  100% {
    animation-timing-function: cubic-bezier(0.2 0 0.8 0.8);
  }
  50% {
    animation-timing-function: cubic-bezier(0.2 0.2 0.8 1);
  }
  0% {
    transform: translate(-30px, -30px) scale(0);
  }
  50% {
    transform: translate(-30px, -30px) scale(1);
  }
  100% {
    transform: translate(-30px, -30px) scale(0);
  }
}
.preloader-inner > div {
  transform: translate(0px, -15px);
}
.preloader-inner > div > div {
  animation: preloader-inner-r 1s linear infinite;
  transform-origin: 100px 100px;
}
.preloader-inner > div > div > div {
  position: absolute;
  transform: translate(100px, 82px);
}
.preloader-inner > div > div > div > div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ea39b8;
  animation: preloader-inner-s 1s linear infinite;
}
.preloader-inner > div > div:last-child {
  animation-delay: -0.5s;
}
.preloader-inner > div > div:last-child > div > div {
  animation-delay: -0.5s;
  background: #6f42c1;
}
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
  transform: translate(-50%, -50%);
}
.preloader-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.preloader-inner div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
/* https://loading.io/preloader/interwind/-orbit-rotate-scale-ball */
