@font-face {
  font-family: 'Picadilly';
  src: url(../../../assets/fonts/Picadilly-3ax8.ttf);
}

$basic-transition: all 0.3s linear;

.header-logo {
  font-family: 'Picadilly';
  font-size: 100px;
  line-height: 110px;
  text-shadow: none !important;
  background-image: linear-gradient(
    to right,
    var(--bs-pink) 0%,
    var(--bs-red) 20%,
    var(--bs-yellow) 40%,
    var(--bs-green) 60%,
    var(--bs-blue) 80%,
    var(--bs-cyan) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: $basic-transition;
  will-change: transform;
}

.header-logo:hover {
  color: transparent !important;
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 1200px) {
  .header-logo {
    font-size: 80px;
    line-height: 90px;
  }
}

@media (max-width: 1024px) {
  .header-logo {
    font-size: 70px;
    line-height: 80px;
  }
}

@media (max-width: 900px) {
  .header-logo {
    font-size: 9vw;
    line-height: 90px;
  }
}

@media (max-width: 425px) {
  .header-logo {
    font-size: 11vw;
    line-height: 60px;
  }
}
